@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(89, 89, 201);*/
    background-color: #373F42;
    font: normal 15pt arial;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: black;
    box-shadow: 2px 2px 5px black;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.margin {
    margin-top: 20px;
}

#botao {
    padding: 10px;
    width: 100px;
    font-size: 14px;
}