*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: blue;
    padding: 1.5%;
}
.card{
    border: 1px solid  red;
    padding: 0.1em;
    background-image: url('ruka.jpg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-attachment: local;
}