@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E3A73;
    font: normal 15pt arial;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    color: black;
    box-shadow: 2px 2px 5px black;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}